### Predict the price of the Uber ride from a given pickup point to the agreed drop-off location.
### Perform following tasks:
### 1. Pre-process the dataset.
### 2. Identify outliers.
### 3. Check the correlation.
### 4. Implement linear regression and random forest regression models.
### 5. Evaluate the models and compare their respective scores like R2, RMSE, etc.
### Dataset link: https://www.kaggle.com/datasets/yasserh/uber-fares-dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv("uber.csv")

In [3]:
df.head

<bound method NDFrame.head of         Unnamed: 0                            key  fare_amount  \
0         24238194    2015-05-07 19:52:06.0000003          7.5
1         27835199    2009-07-17 20:04:56.0000002          7.7
2         44984355   2009-08-24 21:45:00.00000061         12.9
3         25894730    2009-06-26 08:22:21.0000001          5.3
4         17610152  2014-08-28 17:47:00.000000188         16.0
...            ...                            ...          ...
199995    42598914   2012-10-28 10:49:00.00000053          3.0
199996    16382965    2014-03-14 01:09:00.0000008          7.5
199997    27804658   2009-06-29 00:42:00.00000078         30.9
199998    20259894    2015-05-20 14:56:25.0000004         14.5
199999    11951496   2010-05-15 04:08:00.00000076         14.1

                pickup_datetime  pickup_longitude  pickup_latitude  \
0       2015-05-07 19:52:06 UTC        -73.999817        40.738354
1       2009-07-17 20:04:56 UTC        -73.994355        40.728225
2       2009-08-24 21:45:00 UTC        -74.005043        40.740770
3       2009-06-26 08:22:21 UTC        -73.976124        40.790844
4       2014-08-28 17:47:00 UTC        -73.925023        40.744085
...                         ...               ...              ...
199995  2012-10-28 10:49:00 UTC        -73.987042        40.739367
199996  2014-03-14 01:09:00 UTC        -73.984722        40.736837
199997  2009-06-29 00:42:00 UTC        -73.986017        40.756487
199998  2015-05-20 14:56:25 UTC        -73.997124        40.725452
199999  2010-05-15 04:08:00 UTC        -73.984395        40.720077

        dropoff_longitude  dropoff_latitude  passenger_count
0              -73.999512         40.723217                1
1              -73.994710         40.750325                1
2              -73.962565         40.772647                1
3              -73.965316         40.803349                3
4              -73.973082         40.761247                5
...                   ...               ...              ...
199995         -73.986525         40.740297                1
199996         -74.006672         40.739620                1
199997         -73.858957         40.692588                2
199998         -73.983215         40.695415                1
199999         -73.985508         40.768793                1

[200000 rows x 9 columns]>

In [4]:
df.shape

(200000, 9)

In [5]:
df.value_counts()

Unnamed: 0  key                            fare_amount  pickup_datetime          pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude  passenger_count
1           2010-01-05 16:52:16.0000002    16.9         2010-01-05 16:52:16 UTC  -74.016048        40.711303        -73.979268         40.782004         1                  1
36975577    2011-01-09 00:55:02.0000003    9.3          2011-01-09 00:55:02 UTC  -73.983030        40.744800        -73.955020         40.774215         1                  1
36968569    2011-06-13 13:38:48.0000001    8.9          2011-06-13 13:38:48 UTC  -73.991514        40.743654        -73.978592         40.755550         1                  1
36968748    2013-02-25 18:37:42.0000001    8.0          2013-02-25 18:37:42 UTC  -73.970616        40.755955        -73.981663         40.739912         1                  1
36969059    2014-02-07 20:31:03.0000005    13.5         2014-02-07 20:31:03 UTC  -73.968586        40.751724        -73.954154         40.769654         1                  1
                                                                                                                                                                           ..
18494755    2012-01-12 12:03:00.000000170  11.7         2012-01-12 12:03:00 UTC  -73.975342        40.765132        -73.990207         40.759107         5                  1
18494937    2010-07-12 09:07:00.000000115  4.1          2010-07-12 09:07:00 UTC  -73.954520        40.805850        -73.952148         40.810673         3                  1
18495130    2010-01-20 05:47:46.0000001    5.7          2010-01-20 05:47:46 UTC  -73.967425        40.801076        -73.975938         40.785477         1                  1
18495375    2011-04-25 11:38:13.0000001    10.9         2011-04-25 11:38:13 UTC  -73.993990        40.735569        -74.010074         40.709845         1                  1
55423567    2010-06-27 17:43:56.0000003    4.5          2010-06-27 17:43:56 UTC  -73.975406        40.751730        -73.965029         40.752614         1                  1
Length: 199999, dtype: int64

In [6]:
df.isna().sum()

Unnamed: 0           0
key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
passenger_count      0
dtype: int64

In [7]:
df.dtypes

Unnamed: 0             int64
key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [8]:
mean = df['dropoff_longitude'].mean()

In [9]:
df['dropoff_longitude'].fillna(df['dropoff_longitude'].mean(), inplace = True)

In [10]:
mean1 = df['dropoff_latitude'].mean()

In [11]:
df['dropoff_latitude'].fillna(df['dropoff_latitude'].mean(), inplace = True)

In [12]:
df.isna().sum()

Unnamed: 0           0
key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [13]:
x=df.drop(['Unnamed: 0','key','fare_amount','pickup_datetime'],axis=1)
y=df['fare_amount']

In [14]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,ytest = train_test_split(x,y,test_size=0.33,random_state=75)

In [16]:
x_scalar = StandardScaler()

In [17]:
x_train = x_scalar.fit_transform(x_train)
x_test = x_scalar.fit_transform(x_test)

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
L_model = LinearRegression()

In [20]:
L_model.fit(x_train,y_train)

LinearRegression()

In [21]:
y_pred = L_model.predict(x_test)

In [22]:
from sklearn.metrics import r2_score,mean_squared_error;

In [23]:
print(r2_score(ytest,y_pred))

0.00032728473527865454

In [24]:
mean_squared_error(ytest,y_pred)

97.5202716474676

In [25]:
from sklearn.ensemble import RandomForestRegressor

In [26]:
L_model = RandomForestRegressor()

In [27]:
L_model.fit(x_train,y_train)

RandomForestRegressor()

In [28]:
y_pred = L_model.predict(x_test)

In [29]:
r2_score(y_pred,ytest)

-18.635951541168453

In [30]:
mean_squared_error(ytest,y_pred)

1821.6954114473344